{
  "presets": [
    ["latest", {
      "es2015": { "modules": false }
    }],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "comments": false,
  "env": {

  },
  "ignore": [
    "./asset/js/mui.js"
  ]
}
