.form-login{
    margin-top:50px;
}
.form-login .login-nav{

}
.form-login .button-wrapper{
    padding: 10px;
}

.form-login .login-nav{
    padding:15px;
    position: relative;
}

.form-login .login-nav .right{
    float: right;
}
.form-login span.sendCode{
    width:150px;
}