/*百分比布局 + rem布局*/

html,
body {
	width: 100%;
}

.layout {
	margin: 0 auto;
}

.vertical {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

@media (min-width: 768px) {
	html,
	body {
		width: 100%;
	}
	html {
		font-size: 90px;
	}
	.container {
		width: 710px;
		height: 100%;
		position: relative;
	}
	.section_m>.swiper-container {
		width: 86%;
	}
	/*50% 文字*/
	.article_r ul {
		width: 80%;
		height: 60%;
		left: 10%;
	}
	/*图片*/
	.article_l>img {
		width: 80%;
		right: 10%;
	}
	.service_r>img {
		width: 80%;
		margin-left: 10%;
	}
	.swiper-container2 .swiper-button-next {
		background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%…2L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E);
		right: 0%;
		left: auto;
		background-size: 15px 44px;
	}
}

@media (min-width: 992px) {
	html,
	body {
		width: 100%;
	}
	html {
		font-size: 100px;
	}
	.container {
		width: 970px;
		height: 100%;
		position: relative;
	}
	.section_m>.swiper-container {
		width: 73%;
	}
	.article_r ul {
		width: 80%;
		height: 60%;
		left: 10%;
	}
	.article_l>img {
		width: 80%;
		right: 10%;
	}
	.service_r>img {
		width: 80%;
		margin-left: 10%;
	}
	.swiper-container2 .swiper-button-next {
		background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%…2L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E);
		right: 10%;
		left: auto;
		background-size: 15px 44px;
	}
}

@media (min-width: 1220px) {
	html,
	body {
		width: 100%;
	}
	html {
		font-size: 100px;
	}
	.container {
		width: 1170px;
		height: 100%;
		position: relative;
	}
	.section_m>.swiper-container {
		width: 60%;
	}
	.article_r ul {
		width: 55%;
		height: 60%;
		left: 10%;
	}
	.article_l>img {
		width: 50%;
		right: 10%;
	}
	.service_r>img {
		width: 50%;
		margin-left: 10%;
	}
	.swiper-container2 .swiper-button-next {
		background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%…2L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E);
		right: 11.5%;
		left: auto;
		background-size: 15px 44px;
	}
}


/*悬浮的菜单栏*/

.menu {
	width: 100%;
	height: 30%;
	position: fixed;
	z-index: 99999;
}

.menu .container>p {
	width: 0.5rem;
	height: 0.5rem;
	/*background: #4f504f;*/
	position: absolute;
	right: 0;
	top: 0.17rem;
	border-radius: 50%;
	z-index: 10;
}

.menu img {
	width: 0.25rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.menu_detail {
	width: 2rem;
	height: 2.8rem;
	background: #000000;
	border-radius: 0.15rem;
	position: absolute;
	top: 0.3rem;
	right: 0.25rem;
	z-index: 5;
	display: none;
}

.menu_detail>p {
	width: 60%;
	height: 80%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.menu_detail>p span {
	display: block;
	font-size: 0.2rem;
	color: #8c8c8c;
	width: 100%;
	height: 20%;
	text-align: center;
}


/*头部*/

header {
	width: 100%;
	height: 5rem;
	background: url(../images/header.jpg);
	background-size: cover;
	overflow: hidden;
	position: relative;
}


/*.header{
	  width:100%;
	  height:4.8rem;
	  background: #009689;
	  background:url(../images/globule.png) no-repeat; 
	  background-size: 90% auto; 
	  background-position-y: bottom;
	  
	
	  }*/

header>.layout {
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

header .globule {
	width: 110%;
	margin-top: -12%;
	left: -2%;
	position: absolute;
}

header .logo {
	width: 1.3rem;
	margin-top: 0.2rem;
}

.header_main {
	width: 100%;
	height: 50%;
}

.header_l {
	width: 61%;
	height: 100%;
	left: 0;
}

.header_l>img {
	width: 100%;
	margin-top: 5%;
}

.header_l>p {
	width: 100%;
	margin-top: 1%;
}

.header_l>p:nth-of-type(1) {
	font-size: 0.2rem;
	color: #BCC0C4;
}

.header_l>p:nth-of-type(2) {
	font-size: 0.12rem;
	color: #BCC0C4;
}

.header_m {
	width: 13%;
	left: 70%;
}

.header_r {
	width: 15%;
	height: 40%;
	right: 0;
}

.header_r>img {
	height: 48%;
}

.header_r>img:nth-of-type(2) {
	margin-top: 4%;
}


/*中间区域*/

.content {
	width: 100%;
	height: auto;
}


/********banner*********/

.banner {
	width: 100%;
	height: 2.5rem;
	background: #FEFFFE;
}

.banner .container>ul {
	width: 100%;
	height: 100%;
}

.banner>.container>ul>li {
	width: 30%;
	height: 70%;
	/*background: #8C8C8C;*/
}

.banner>.container>ul>li:nth-of-type(1) {
	left: 0;
	width: 33%;
}

.banner>.container>ul>li:nth-of-type(2) {
	left: 36%;
}

.banner>.container>ul>li:nth-of-type(3) {
	right: 0;
}

.banner>.container ul li p:nth-of-type(1) {
	width: 100%;
	height: 30%;
}

.banner>.container ul li p img {
	float: left;
	width: 10%;
}

.banner>.container ul li:nth-of-type(1) p img {
	float: left;
	width: 9%;
}

.banner>.container ul li:nth-of-type(2) p img {
	float: left;
	width: 12%;
}

.banner>.container ul li p span {
	float: left;
	width: 84%;
	margin-left: 4%;
	margin-top: 2%;
	color: #505050;
	font-size: 0.20rem;
	font-weight: 500;
}

.banner>.container ul li p:nth-of-type(2) {
	width: 85%;
	margin-left: 15%;
	line-height: 0.25rem;
	color: #6e6e6e;
	font-size: 0.16rem;
}


/********card********/

.card {
	width: 100%;
	height: 6rem;
	background: #f8f8f9 url(../images/card.png) no-repeat;
	background-size: 60% 100%;
}

.card .container img {
	/*width: 30%;*/
	height: 80%;
}

.card-r {
	width: 30%;
	height: 45%;
	/* background: pink;*/
	right: 5%;
}

.card-r span {
	display: block;
}

.card-r span:nth-of-type(1) {
	font-size: 0.3rem;
	color: #505050;
	font-weight: bold;
}

.card-r span:nth-of-type(2) {
	font-size: 0.2rem;
	color: #505050;
	margin-top: 0.1rem;
	margin-bottom: 0.15rem;
}

.card-r span:nth-of-type(3) {
	font-size: 0.18rem;
	color: #505050;
	margin-top: 0.2rem;
}

.card-r span:nth-of-type(4) {
	font-size: 0.18rem;
	color: #03aef9;
	margin-top: 0.08rem;
}

.card-r p {
	font-size: 0.18rem;
	color: #6E6E6E;
	margin-top: 0.1rem;
}

.card-r p i {
	display: inline-block;
	width: 0.03rem;
	height: 0.03rem;
	background: #03AEF9;
	border-radius: 50%;
	margin-bottom: 0.03rem;
	margin-right: 0.08rem;
}


/********ask********/

.ask {
	width: 100%;
	height: 6rem;
	background: #FFFFFF url(../images/answer.png) no-repeat top right;
	background-size: 60% 100%;
}

.ask .container img {
	/*width: 30%;*/
	height: 80%;
	right: 5%;
	margin-left: 25%;
}

.ask-r {
	width: 30%;
	height: 45%;
	/*background: pink;*/
}

.ask-r span {
	display: block;
}

.ask-r span:nth-of-type(1) {
	font-size: 0.3rem;
	color: #505050;
	font-weight: bold;
}

.ask-r span:nth-of-type(2) {
	font-size: 0.2rem;
	color: #505050;
	margin-top: 0.1rem;
	margin-bottom: 0.15rem;
}

.ask-r span:nth-of-type(3) {
	font-size: 0.18rem;
	color: #505050;
	margin-top: 0.2rem;
}

.ask-r span:nth-of-type(4) {
	font-size: 0.18rem;
	color: #03aef9;
	margin-top: 0.08rem;
}

.ask-r p {
	font-size: 0.18rem;
	color: #6E6E6E;
	margin-top: 0.1rem;
}

.ask-r p i {
	display: inline-block;
	width: 0.03rem;
	height: 0.03rem;
	background: #03AEF9;
	border-radius: 50%;
	margin-bottom: 0.03rem;
	margin-right: 0.08rem;
}


/********section********/

section {
	width: 100%;
	height: 7rem;
	background: #F8F8F9;
}

section .container>p {
	width: 100%;
	text-align: center;
}

section .container>p:nth-of-type(1) {
	font-size: 0.2rem;
	font-weight: 500;
	color: #505050;
	position: absolute;
	top: 5%;
}

section .container>p:nth-of-type(2) {
	font-size: 0.12rem;
	color: #6E6E6E;
	position: absolute;
	top: 11%;
}

.section_c {
	width: 100%;
	height: 70%;
	position: absolute;
	top: 20%;
}

.section_l,
.section_m,
.section_r {
	display: block;
	float: left;
	width: 32%;
	height: 100%;
	/*  background: #009689;*/
}


/*.section_m,.section_r{
	margin-left: 2%;
}*/

.section_m {
	background: url(../images/Mobile.png) no-repeat center;
	background-size: auto 100%;
	background-position-y: bottom;
	position: relative;
}

.section_m>.swiper-container {
	/* width: 60%;*/
	height: 79%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.section_m>.swiper-container img {
	width: 100%;
	height: 100%;
}

.section_l {
	position: relative;
}

.section_img {
	width: 20%;
	height: 50%;
	right: 0;
}

.section_img>img {
	width: 0.4rem;
}

.section_img>i {
	display: block;
	width: 1px;
	height: 0.6rem;
	border-right: 1px dashed #03aef9;
	margin-left: 0.18rem;
}

.section_text {
	right: 25%;
	width: 75%;
	height: 50%;
}

.section_text>p span {
	display: block;
	text-align: right;
	font-size: 0.14rem;
	color: #505050;
}

.section_text>p span:nth-of-type(2) {
	font-size: 0.12rem;
	color: #6E6E6E;
	margin-top: 0.04rem;
}

.section_text>p:nth-of-type(1) {
	margin-top: 0.08rem;
}

.section_text>p:nth-of-type(2),
.section_text>p:nth-of-type(3) {
	margin-top: 0.6rem;
}

.section_r {
	/*background: #CCCCCC;*/
	position: relative;
}

.section_i {
	width: 20%;
	height: 50%;
	left: 0;
}

.section_i>img {
	width: 0.4rem;
}

.section_i>i {
	display: block;
	width: 1px;
	height: 0.6rem;
	border-right: 1px dashed #03aef9;
	margin-left: 0.18rem;
}

.section_t {
	left: 17%;
	width: 75%;
	height: 50%;
}

.section_t>p span {
	display: block;
	text-align: left;
	font-size: 0.14rem;
	color: #505050;
}

.section_t>p span:nth-of-type(2) {
	font-size: 0.12rem;
	color: #6E6E6E;
	margin-top: 0.04rem;
}

.section_t>p:nth-of-type(1) {
	margin-top: 0.08rem;
}

.section_t>p:nth-of-type(2),
.section_t>p:nth-of-type(3) {
	margin-top: 0.6rem;
}


/********aside********/

aside {
	width: 100%;
	height: 1.2rem;
	background: url(../images/header.jpg) no-repeat;
	background-size: cover;
}

aside p {
	left: 0;
	width: 64%;
	height: 30%;
}

aside p span:nth-of-type(1) {
	display: block;
	font-size: 0.25rem;
	color: #bcc0c4;
}

aside p span:nth-of-type(2) {
	display: block;
	font-size: 0.14rem;
	margin-top: 0.06rem;
	color: #bcc0c4;
}

aside img:nth-of-type(1) {
	width: 16%;
	right: 0;
}

aside img:nth-of-type(2) {
	right: 20%;
	width: 16%;
}


/*article*/

article {
	width: 100%;
	height: 5rem;
}

.article_r {
	width: 50%;
	height: 100%;
	background: #F7F8F8;
	float: right;
	position: relative;
}


/*.article_r ul{
	width: 75%;
	height: 60%;
	left: 10%;
	
}*/

.article_r ul>p {
	width: 100%;
	height: 25%;
	font-size: 0.25rem;
	color: #505050;
	/*background: #007AFF;*/
}

.article_r ul li {
	width: 49%;
	height: 42%;
	float: left;
	/*background: #009689;*/
}

.article_r ul li>p:nth-of-type(1) {
	color: #505050;
	font-size: 0.16rem;
}

.article_r ul li>p:nth-of-type(2) {
	margin-top: 0.1rem;
	color: #505050;
	font-size: 0.13rem;
	margin-left: 0.1rem;
}

.article_r ul li:nth-of-type(2),
.article_r ul li:nth-of-type(4) {
	margin-left: 2%;
}

.article_r ul li:nth-of-type(1),
.article_r ul li:nth-of-type(2) {
	margin-bottom: 1%;
}

.article_r ul li>p:nth-of-type(1) i {
	display: inline-block;
	width: 0.05rem;
	height: 0.05rem;
	margin-bottom: 0.03rem;
	margin-right: 0.06rem;
	border-radius: 50%;
	background: #03aef9;
}

.article_l {
	width: 50%;
	height: 100%;
	float: left;
	background: #e0e0e0;
	position: relative;
}


/*.article_l>img{
	width: 50%;
	right: 10%;
	
}*/


/*service*/

.service {
	width: 100%;
	height: 5rem;
}

.service_l {
	width: 50%;
	height: 100%;
	background: #F7F8F8;
	float: left;
	position: relative;
}

.service_l ul {
	width: 60%;
	height: 70%;
	right: 10%;
}

.service_l ul>p {
	width: 100%;
	height: 15%;
	font-size: 0.25rem;
	color: #505050;
}

.service_l ul li {
	width: 100%;
	height: 27%;
	/*background: #009689;*/
}

.service_l ul li:nth-of-type(2),
.service_l ul li:nth-of-type(3) {
	margin-top: 2%;
}

.service_l ul li>p:nth-of-type(1) {
	color: #505050;
	font-size: 0.16rem;
}

.service_l ul li>p:nth-of-type(1) i {
	display: inline-block;
	width: 0.05rem;
	height: 0.05rem;
	margin-bottom: 0.03rem;
	margin-right: 0.06rem;
	border-radius: 50%;
	background: #03aef9;
}

.service_l ul li>p:nth-of-type(2) {
	margin-top: 0.1rem;
	color: #505050;
	font-size: 0.12rem;
	margin-left: 0.1rem;
}

.service_r {
	width: 50%;
	height: 100%;
	float: right;
	background: #e0e0e0;
	position: relative;
}


/*.service_r>img{
	width: 50%;
	margin-left:10%;
}*/


/*底部*/

footer {
	width: 100%;
	height: 2rem;
	background: #000000;
}

.footer-l {
	width: 50%;
	height: 70%;
	/*background: #CCCCCC;*/
	left: 0;
}

.footer-l>p {
	width: 100%;
	height: 10%;
	color: #FFFFFF;
	font-size: 0.20rem;
}

.footer-l>div {
	margin-top: 6%;
	height: 70%;
	/*background: #007AFF;*/
}

.footer-l>div>img {
	width: 18%;
	margin-right: 2%;
	float: left;
}

.footer-l>div>p {
	width: 80%;
	float: left;
}

.footer-l>div p span {
	display: block;
	color: #6e6e6e;
	font-size: 0.16rem;
	margin-top: 0.1rem;
}

.footer-l>div p span:nth-of-type(2),
.footer-l>div p span:nth-of-type(3) {
	margin-top: 0.15rem;
}

.footer-r {
	width: 48%;
	height: 70%;
	/* background:#CCCCCC;*/
	right: 0;
}

.footer-r>p {
	width: 100%;
	height: 10%;
	color: #FFFFFF;
	font-size: 0.20rem;
}

.footer-r .swiper-container {
	width: 100%;
	margin-top: 6%;
	height: 70%;
}

.swiper-container2 img {
	width: 0.7rem;
}

.swiper-container2 p {
	color: #FFFFFF;
	width: 0.8rem;
	text-align: center;
	margin-top: 0.1rem;
}

.swiper-container2 .swiper-button-prev {
	background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%…19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E);
	left: 0px;
	right: auto;
	background-size: 15px 44px;
}


/*.swiper-container2  .swiper-button-next {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%…2L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E);
    right: 10%;
    left: auto;
    background-size: 15px 44px;
    }*/


/*底部版权*/

.bot {
	width: 100%;
	height: 0.41rem;
	background: #212221;
}

.bot p {
	width: 50%;
	float: left;
	line-height: 0.41rem;
	color: #6e6e6e;
	font-size: 0.12rem;
}

.bot img {
	/*float: right;*/
	height: 40%;
	right: 41%;
}

.bot span {
	display: block;
	width: 40%;
	float: right;
	line-height: 0.41rem;
	font-size: 0.12rem;
	color: #6e6e6e;
}