/** { touch-action: none; }*/

body{
  font-family: PingFang-SC-Regular, sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;

  -webkit-user-select: none;
  -webkit-touch-callout: none;
  /*background: transparent !important;*/
}

.quill-editor{
  -webkit-user-select:auto;
}

#app{
  height:100%;
  position: absolute;
  width:100%;
}

.view{
  position: absolute;
  width:100%;
  height:100%;
}

#router-view{
  position: absolute;
  width:100%;
  height:100%;
}

p{
  color:inherit;
}

.page{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  overflow: hidden;
}

body{
  color:#3f3f3f;
  background-color: #fff;
}

a{
  color:#999;
}

.mt15{
  margin-top:15px;
}

.mui-btn-block{
  font-size:16px;
  padding: 8px 0;
}

.mb70{
  margin-bottom:70px;
}

.list-empty {
  font-size:14px;
  position:relative;
  z-index:9;
}
.list-empty .title{
  text-align: center;
  color:#999;
}
.list-empty .subTitle{
  margin:15px 0;
  text-align: center;
}

.loading {
  text-align: center;
  padding:20px;
  position: relative;
  z-index: 9;
}

input, textarea, select{
  font-size:16px;
}

.mui-table-view-cell:after{
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  background-color:#f2f2f2;
}

.mui-checkbox-2 .tagSelect:before {
  font-family: Muiicons;
  font-size: 28px;
  font-weight: normal;
  line-height: 1;
  text-decoration: none;
  color: #aaa;
  border-radius: 0;
  background: none;
  -webkit-font-smoothing: antialiased;
}

.mui-checkbox-2.mui-left .tagSelect {
  left: 20px;
}

.mui-checkbox-2 .tagSelect:before {
  content: '\E411';
}

.mui-table-view-cell.mui-checkbox-2 .tagSelect {
  top: 8px;
}

.mui-checkbox-2.mui-left .tagSelect {
  left: 20px;
}

.mui-checkbox-2 .tagSelect {
  position: absolute;
  top: 4px;
  right: 20px;
  display: inline-block;
  width: 28px;
  height: 26px;
  border: 0;
  outline: 0 !important;
  background-color: transparent;
  -webkit-appearance: none;
  z-index:0;
}
.mui-table-view-cell.mui-checkbox-2.mui-left {
  padding-left: 58px;
}
.mui-checkbox-2 {
  position: relative;
  z-index:777;
}
.mui-checkbox-2 .tagSelect.checked:before {
  color: #007aff;
}
.mui-checkbox-2 .tagSelect.checked:before {
  content: '\E442';
}



.mui-ellipsis-3
{
  display: -webkit-box;
  overflow: hidden;

  white-space: normal !important;
  text-overflow: ellipsis;
  word-wrap: break-word;

  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}



.myicon-home{
  background: url("../statics/images/icon_home.png");
}

.myicon-home-hover{
  background: url("../statics/images/icon_home_hover.png");
}

.myicon-task{
  background: url("../statics/images/icon_task.png");
}

.myicon-task-hover{
  background: url("../statics/images/icon_task_hover.png");
}

.myicon-find{
  background: url("../statics/images/icon_find.png");
}

.myicon-find-hover{
  background: url("../statics/images/icon_find_hover.png");
}

.myicon-my{
  background: url("../statics/images/icon_my.png");
}

.myicon-my-hover{
  background: url("../statics/images/icon_my_hover.png");
}

.myicon-point{
  background: url("../statics/images/icon_point.png");
}

.myicon-point-hover{
  background: url("../statics/images/icon_point_hover.png");
}

.myicon-xiangzi{
  background: url("../statics/images/icon_xiangzi.png");
}

.myicon-project{
  background: url("../statics/images/icon_project.png");
}

.myicon-fangdajing{
  background: url("../statics/images/icon_fangdajing.png");
}

.myicon-money{
  background: url("../statics/images/icon_money.png");
}

.myicon-xiaoha{
  background: url("../statics/images/icon_xiaoha.png");
}

.myicon-shop{
  background: url("../statics/images/icon_shop.png");
}

.myicon-gaojizhuanjia{
  background: url("../statics/images/icon-gaojizhuanjia.png");
}

.myicon-setup{
  background: url("../statics/images/icon-setup.png");
}

.myicon-wallet{
  background: url("../statics/images/icon_wallet.png");
}

.myicon-coupon{
  background: url("../statics/images/icon-coupon.png");
}

.myicon-huiyuan{
  background: url("../statics/images/icon-huiyuan.png");
}

.myicon-heart{
  background: url("../statics/images/icon-heart.png");
}

.myicon-help{
  background: url("../statics/images/icon-help.png");
}

.myicon-expert{
  background: url("../statics/images/icon_expert.png");
}

.myicon-qian{
  background: url("../statics/images/icon_qian.png");
}

.myicon-plus{
  background: url("../statics/images/icon-jia.png");
}

.myicon-phone{
  background: url("../statics/images/icon-phone.png");
}

.myicon-email{
  background: url("../statics/images/icon-email.png");
}

.myicon-position{
  background: url("../statics/images/icon-position.png");
}

/*.myicon-askDetailHeart{
  background: url("../statics/images/icon_ask_detail_heart.png");
}*/

/*.myicon-askDetailJia{
  background: url("../statics/images/icon_ask_detail_jia.png");
}*/

.myicon-project3{
  background: url("../statics/images/icon_project3.png");
}

.myicon-project2{
  background: url("../statics/images/icon_project2.png");
}

.myicon-share{
  background: url("../statics/images/icon-share.png");
}

.myicon-home2{
  background: url("../statics/images/icon-home2.png");
}

.myicon-home-title{
  background: url("../statics/images/home-title.png");
}

.myicon-jiubei{
  background: url("../statics/images/icon-jiubei.png");
}

.myicon-setting-logo{
  background: url("../statics/images/icon-setting-logo.png");
}

.myicon-ask{
  background: url("../statics/images/icon_ask.png");
}

.myicon-home-vip{
  background: url("../statics/images/expert.png");
}

.myicon-money-record{
  background: url("../statics/images/icon-money-record.png");
}

.myicon-withdraw{
  background: url("../statics/images/icon-withdraw.png");
}

.myicon-drag{
  background: url("../statics/images/icon-drag.png");
}

.myicon-wechat{
  background: url("../statics/images/wechat@2x.png");
}

a.mailLink{
  color:#4990e2;
}


.myicon{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


.mui-bar-dark, .mui-bar-nav{
  background-color:#3c3e44;
  box-shadow:none;
}

.mui-bar-dark .mui-title, .mui-bar-nav .mui-title{
  color:#fff;
  font-size:18px;
}

.mui-bar-dark .mui-icon, .mui-bar-nav .mui-icon{
  color:#fff;
}

.mui-bar-dark  .mui-btn-link, .mui-bar-nav .mui-btn-link{
  color:#fff;
}


.mySideMenu{
  background: #f7f7f7;
}

input[type='button'], input[type='submit'], input[type='reset'], button, .mui-btn{
  border-radius:20px;
}

input[type='submit'], .mui-btn-primary, .mui-btn-blue{
  border:1px solid #03aef9;
  background-color: #03aef9;
}

.mui-btn-outlined {
  background-color: transparent;
}

.mui-btn-link {
  background-color: transparent;
}

.ql-toolbar.ql-snow{
  border:none;
  border-bottom:1px solid #ccc;
}

.ql-container.ql-snow {
  border:none;
}

.quill-editor{
  height:300px;
}

.ql-container{
  height:260px;
  font-size:16px;
}

.ql-container p{
  font-size:16px;
}


.richText{
  width:100%;
}
.richText .ql-toolbar{
  display: none;
}

.richText .ql-container{
  height:100%;
  min-height:0;
}

.richText .ql-editor{
  padding:0;
  min-height:0;
}

.richText .quill-editor{
  height: auto;
  min-height:0;
}

.mui-bar-top{
  position: absolute !important;
  top:0;
}

.mui-android .mui-modal .mui-bar{
  position: fixed;
}

.mui-android .mui-modal .mui-bar-nav ~ .mui-content{
  padding-top:44px;
}

.meditor-chosen {
  color: #fff;
  background-color: #8f8f94;
}

.meditor-ghost {
  opacity: 0.4;
}

.meditor-chosen img{
    width:100%;
    height:100px;
}

.ql-editor p{
  position: relative;
}
.ql-editor .handlerImg{
  position: absolute;
  right:10px;
  top:10px;
  width:32px;
  height:32px;
  z-index:999;
}

.textarea-wrapper #toolbar{

}

.textarea-wrapper textarea{
  font-size:14px;
  height:100%;
  padding: 5px 10px;
}

.emptyList .mui-pull-bottom-pocket{
  display: none !important;
}


.waitingImg{
  z-index: 999;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #fff;
  border-radius: 10px;
  padding: 5px;
  opacity: 0.8;
  margin-left: -16px;
  margin-top: -16px;
}


/**
加载动画
 */
/*.mint-indicator {
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}*/
.mint-indicator-wrapper {
  /*top: 50%;
  left:50%;*/
  top:30%;
  left:45%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 5px;
/*  background: rgba(0, 0, 0, 0.7);*/
  color: white;
  box-sizing: border-box;
  text-align: center;
  z-index: 9999;
}
.mint-indicator-text {
  display: block;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}
.mint-indicator-spin {
  display: inline-block;
  text-align: center;
}
.mint-indicator-mask {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: transparent;
  z-index:9999;
}
.mint-indicator-enter, .mint-indicator-leave-active {
  opacity: 0;
}


.mint-spinner-fading-circle {
  position: relative
}
.mint-spinner-fading-circle-circle {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute
}
.mint-spinner-fading-circle-circle::before {
  content: " ";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  border-radius: 100%;
  -webkit-animation: mint-fading-circle 1.2s infinite ease-in-out both;
  animation: mint-fading-circle 1.2s infinite ease-in-out both
}
.mint-spinner-fading-circle-circle.is-circle2 {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg)
}
.mint-spinner-fading-circle-circle.is-circle2::before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s
}
.mint-spinner-fading-circle-circle.is-circle3 {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg)
}
.mint-spinner-fading-circle-circle.is-circle3::before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s
}
.mint-spinner-fading-circle-circle.is-circle4 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}
.mint-spinner-fading-circle-circle.is-circle4::before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s
}
.mint-spinner-fading-circle-circle.is-circle5 {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg)
}
.mint-spinner-fading-circle-circle.is-circle5::before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s
}
.mint-spinner-fading-circle-circle.is-circle6 {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg)
}
.mint-spinner-fading-circle-circle.is-circle6::before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s
}
.mint-spinner-fading-circle-circle.is-circle7 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.mint-spinner-fading-circle-circle.is-circle7::before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s
}
.mint-spinner-fading-circle-circle.is-circle8 {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg)
}
.mint-spinner-fading-circle-circle.is-circle8::before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s
}
.mint-spinner-fading-circle-circle.is-circle9 {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg)
}
.mint-spinner-fading-circle-circle.is-circle9::before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s
}
.mint-spinner-fading-circle-circle.is-circle10 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg)
}
.mint-spinner-fading-circle-circle.is-circle10::before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s
}
.mint-spinner-fading-circle-circle.is-circle11 {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg)
}
.mint-spinner-fading-circle-circle.is-circle11::before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s
}
.mint-spinner-fading-circle-circle.is-circle12 {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg)
}
.mint-spinner-fading-circle-circle.is-circle12::before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s
}
@-webkit-keyframes mint-fading-circle {
  0%, 39%, 100% {
    opacity: 0
  }
  40% {
    opacity: 1
  }
}
@keyframes mint-fading-circle {
  0%, 39%, 100% {
    opacity: 0
  }
  40% {
    opacity: 1
  }
}


.circle-color-19 > div::before { background-color: #ccc; }
/**
旋转动画结束
 */


.tooltip {
  display: block !important;
  padding: 4px;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: #111111;
  opacity: 0.7;
  font-size:13px;
  color: white;
  border-radius: 5px;
  padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow{
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: -1px;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #111;
  opacity: 0.7;
}



.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}


.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}


.mui-toast-container{
  top:50% !important;
}

input.upload-avatar[type=file]{
  display: none;
}

input.upload-file[type=file]{
  display: none;
}

/* mui.消息通知 */
.mui-popup-input input{
  border:1px solid #dcdcdc !important;
  border-radius: 5px !important;
  height:40px !important;
  line-height: 40px !important;
}


.mui-picker{
  background-color: #fff !important;
}

.mui-pciker-list li.highlight{
  color:#444 !important;
}

.mui-pciker-rule-ft{
  border:none !important;
  position: relative;
}

.mui-pciker-rule-ft:before{
  position: absolute;
  top: 0;
  left: 15px;
  right:15px;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  background-color: #dcdcdc;
}

.mui-pciker-rule-ft:after{
  position: absolute;
  bottom: 0;
  left: 15px;
  right:15px;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  background-color: #dcdcdc;
}

.mui-poppicker {
  background-color: #fff !important;
  position: absolute !important;
}

.mui-poppicker-body{
  border-top:1px solid #dcdcdc !important;
}

.mui-popup-title + .mui-popup-text{
  font-size:16px !important;
  color:#444;
}
.mui-popup-inner {
  padding: 23px 15px 30px 15px !important;
}
.mui-poppicker-header .mui-btn{
  border:none !important;
  font-size:16px !important;
  color:#808080 !important;
}
.mui-poppicker-btn-ok{
  background: none !important;
  border:none !important;
  color:#03aef9 !important;
}
.mui-poppicker-header .mui-btn.mui-poppicker-btn-ok{
  color:#03aef9 !important;
}

.mui-dtpicker-header button{
  border:none !important;
  font-size:16px !important;
  color:#808080 !important;
}

.mui-dtpicker{
  background: #fff !important;
}
.mui-dtpicker-title h5{
  background: #fff !important;
}

.mui-dtpicker-header button:last-child{
  background: none !important;
  border:none !important;
  color:#03aef9 !important;
}

.colorC8{
  color:#c8c8c8 !important;
}

.schedule{position: fixed;}

#statusBarStyle{
  display: none;
}

#toast{
	max-width:46%;
	height: 35px;
	padding: 8px 20px;
	font-size: 14px;
	color: #FFFFFF;
	z-index: 200000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	background: #000000;
    opacity: 0.5;
	border-radius: 16px;
	display: none;
	animation:toast 3s linear 1s infinite alternate;
	/* Safari and Chrome: */
	 -webkit-animation:toast 3s linear 1s infinite alternate;


}

@keyframes toast
{
0%   {opacity: 0.5;}
25%  {opacity: 0.55;}
50%  {opacity: 0.6;}
75%  {opacity: 0.65;}
100% {opacity: 0.7;}
}

/* Safari and Chrome */

/*@-webkit-keyframes toast
{
0%   {opacity: 0.5;}
25%  {opacity: 0.55;}
50%  {opacity: 0.6;}
75%  {opacity: 0.65;}
100% {opacity: 0.7;}
}*/

.mui-content{
  position: absolute;
  top:0;
  width:100%;
  bottom:0;
  padding-top:0;
  overflow: scroll;
}

.mui-content .menu ~ #pullrefresh{
  top:50px;
}

.mui-bar-nav ~ .mui-content .mui-pull-top-pocket{
  top:0;
}

.mui-bar-nav ~ .mui-content{
  top:44px;
  padding-top:0;
}

.openAppH5 .mui-bar-nav{
  top:54px;
}

.openAppH5 .mui-content{
  top:54px;
  padding-top: 0;
}

.openAppH5 .mui-bar-nav ~  .mui-content{
  top:98px;
  padding-top: 0;
}

.openAppH5 .shareBtn{
  top:64px !important;
}

.openAppWechat .mui-bar-nav{
  top:49px;
}

.openAppWechat .mui-content{
  top:49px;
  padding-top:0;
}

.openAppWechat .mui-bar-nav ~  .mui-content{
  top:93px;
  padding-top: 0;
}

.openAppWechat .shareBtn{
  top:59px !important;
}

.gaussian{
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.98);
}

.mui-ios .gaussian{
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.8);
}

/********小哈加载动画************/
.mint-indicator-wrapper >img{
	width: 35px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	top: -40%;
    z-index: 9999;
}


/** 弹窗 **/
.alertZoom .alertClose {
  position: absolute;
  right: 0;
  padding: 10px;
  top: 110px;
  z-index: 3;
  color: #808080;
}
.alertZoom .mui-popup-buttons {
  display: none;
}
.alertZoom .mui-popup-inner {
  background: #fff;
  text-align: left;
  padding: 20px 15px 15px !important;
}
.alertZoom .titlePre {
  position: relative;
  top: 27px;
  z-index: 2;
  left: 0;
  display: block;
  width: 100%;
  height: 116px;
  background-image: url("../statics/images/alert-zoom-bg@2x.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: titlePreDown;
  animation-name: titlePreDown;
}
.alertZoom .titlePre2 {
  position: absolute;
  top: 30px;
  z-index: 2;
  left: 0;
  display: block;
  width: 100%;
  height: 92px;
  background-image: url("../statics/images/alert-zoom-ha@2x.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.alertZoom .mui-popup-title {
  display: none;
}
.alertZoom .mui-popup-button {
  background: #fff;
  color: #03aef9;
  font-weight: normal;
  font-size: 16px;
}
.alertSkyTwo .alertClose {
  position: absolute;
  right: 10px;
  top: 74px;
  z-index: 3;
  color: #808080;
}
.alertSkyTwo .titlePreIcon {
  position: absolute;
  left: 50%;
  font-size: 70px;
  top: 38px;
  margin-left: -40px;
  z-index: 3;
}

.alertSkyTwo .titlePreIcon.icon-fenxiangchenggong {
  font-size:51px;
  top: 53px;
  margin-left: -30px;
  z-index: 3;
}
.alertSkyTwo .titlePre {
  position: relative;
  top: 24px;
  padding: 88px 10px 0 10px;
  z-index: 1;
  left: 0;
  display: block;
  width: 100%;
  text-align: left;
  height: 216px;
  background-image: url("../statics/images/alert-question-2.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.alertSkyTwo .mui-popup-inner {
  text-align: left;
  background: #fff;
  border-radius: 0 !important;
  z-index:2;
  padding: 0 15px 15px !important;
}
.alertSkyTwo .mui-popup-buttons {
  display: none;
}
.alertSkyTwo .mui-popup-button {
  background: #fff;
  color: #03aef9;
  font-weight: normal;
  font-size: 16px;
}
.alertSkyTwo.alertSkyTwo-one .titlePre {
  background-image: url("../statics/images/alert-question-1.png");
}
.alertSkyTwo.alertSkyTwo-one .mui-popup-text {
  position: relative;
  top: -29px;
}
@-webkit-keyframes titlePreDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes titlePreDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.alertSimple .alertClose {
  position: absolute;
  right: 0;
  padding: 10px;
  top: -3px;
  z-index: 3;
  color: #808080;
}
.alertSimple .mui-popup-title {
  display: none;
}
.alertSimple .mui-popup-inner {
  background: #fff;
  text-align: left;
}
.alertSimple .mui-popup-button {
  background: #fff;
  color: #03aef9;
  font-weight: normal;
  font-size: 16px;
}
/** 弹窗结束 **/


.river{
  height:10px;
  background: #f3f4f6;
}


.mui-btn-grey{
  background:#b4b4b6;
  color:#fff;
}


.noAfter:after{
    display: none;
}


ul.normal {
  padding: 0 0 0 20px;
  margin: 8px 0 0;
}
ul.normal li {
  position: relative;
  list-style: none;
  font-size: 14px;
  padding: 4px 0;
  color: #808080;
}
ul.normal li:before {
  content: '';
  background: #03aef9;
  border: 1px solid #03aef9;
  position: absolute;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  left: -14px;
  top: 12px;
}

.afterHidden:after {
  display: none;
}

.beforeHidden:before{
  display: none;
}


.bottomBorder{
  position: relative;
}
.bottomBorder:after{
  position: absolute;
  bottom: 0;
  left: 15px;
  right:15px;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  background-color: #dcdcdc;
}

.listBottomBorder:not(:last-child):after{
  position: absolute;
  bottom: 0;
  left: 15px;
  right:15px;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  background-color: #dcdcdc;
}


.hideUpToRefreshDescription .mui-pull-bottom-pocket{
  display: none !important;
}

#immersedWrapper{
  position: fixed;
  width:100%;
  top:0;
}

.mui-bar{
  position: absolute;
}


.hideImmersedWrapper #immersedWrapper{
  display: none;
}


a {
  color: #235280;
}

.vendorUrl{
  color: #235280;
}

.mui-modal.mui-active{
  background-color: #3c3e44;
}
