body{
  font-family: PingFang-SC-Regular, sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}



.page{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  overflow: hidden;
}

body{
  color:#3f3f3f;
}

a{
  color:#999;
}

.mt15{
  margin-top:15px;
}

.mui-btn-block{
  font-size:16px;
  padding: 8px 0;
}

.mb70{
  margin-bottom:70px;
}

.list-empty {
  font-size:14px;
  position:relative;
  z-index:9;
}
.list-empty .title{
  text-align: center;
  color:#999;
}
.list-empty .subTitle{
  margin:15px 0;
  text-align: center;
}

.loading {
  text-align: center;
  padding:20px;
  position: relative;
  z-index: 9;
}

input, textarea, select{
  font-size:16px;
}

.mui-table-view-cell:after{
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  background-color:#f2f2f2;
}
