
@font-face {font-family: "iconfont";

  src:url('../fonts/iconfont.ttf?t=1492589337005') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-task:before { content: "\e613"; }

.icon-share:before { content: "\e621"; }

.icon-success:before { content: "\e8ee"; }

.icon-5:before { content: "\e756"; }

.icon-feedback:before { content: "\e60c"; }

.icon-money:before { content: "\e60b"; }

