.immersed25 .mui-content {
  padding-top: 25px;
}
.immersed25 .mui-content.absolute {
  padding-top: 0;
}
.immersed25 .mui-bar-nav {
  padding-top: 25px;
  height: 69px;
}
.immersed25 .mui-bar-nav ~ .mui-content {
  padding-top: 69px;
}
.immersed25 .mui-bar-nav ~ .mui-content.absolute {
  top: 69px;
  padding-top: 0;
}
.immersed25 .shareBtn {
  top: 35px;
}
.immersed24 .mui-content {
  padding-top: 24px;
}
.immersed24 .mui-content.absolute {
  padding-top: 0;
}
.immersed24 .mui-bar-nav {
  padding-top: 24px;
  height: 68px;
}
.immersed24 .mui-bar-nav ~ .mui-content {
  padding-top: 68px;
}
.immersed24 .mui-bar-nav ~ .mui-content.absolute {
  top: 68px;
  padding-top: 0;
}
.immersed24 .shareBtn {
  top: 34px;
}
.immersed23 .mui-content {
  padding-top: 23px;
}
.immersed23 .mui-content.absolute {
  padding-top: 0;
}
.immersed23 .mui-bar-nav {
  padding-top: 23px;
  height: 67px;
}
.immersed23 .mui-bar-nav ~ .mui-content {
  padding-top: 67px;
}
.immersed23 .mui-bar-nav ~ .mui-content.absolute {
  top: 67px;
  padding-top: 0;
}
.immersed23 .shareBtn {
  top: 33px;
}
.immersed22 .mui-content {
  padding-top: 22px;
}
.immersed22 .mui-content.absolute {
  padding-top: 0;
}
.immersed22 .mui-bar-nav {
  padding-top: 22px;
  height: 66px;
}
.immersed22 .mui-bar-nav ~ .mui-content {
  padding-top: 66px;
}
.immersed22 .mui-bar-nav ~ .mui-content.absolute {
  top: 66px;
  padding-top: 0;
}
.immersed22 .shareBtn {
  top: 32px;
}
.immersed21 .mui-content {
  padding-top: 21px;
}
.immersed21 .mui-content.absolute {
  padding-top: 0;
}
.immersed21 .mui-bar-nav {
  padding-top: 21px;
  height: 65px;
}
.immersed21 .mui-bar-nav ~ .mui-content {
  padding-top: 65px;
}
.immersed21 .mui-bar-nav ~ .mui-content.absolute {
  top: 65px;
  padding-top: 0;
}
.immersed21 .shareBtn {
  top: 31px;
}
.immersed20 .mui-content {
  padding-top: 20px;
}
.immersed20 .mui-content.absolute {
  padding-top: 0;
}
.immersed20 .mui-bar-nav {
  padding-top: 20px;
  height: 64px;
}
.immersed20 .mui-bar-nav ~ .mui-content {
  padding-top: 64px;
}
.immersed20 .mui-bar-nav ~ .mui-content.absolute {
  top: 64px;
  padding-top: 0;
}
.immersed20 .shareBtn {
  top: 30px;
}
.immersed19 .mui-content {
  padding-top: 19px;
}
.immersed19 .mui-content.absolute {
  padding-top: 0;
}
.immersed19 .mui-bar-nav {
  padding-top: 19px;
  height: 63px;
}
.immersed19 .mui-bar-nav ~ .mui-content {
  padding-top: 63px;
}
.immersed19 .mui-bar-nav ~ .mui-content.absolute {
  top: 63px;
  padding-top: 0;
}
.immersed19 .shareBtn {
  top: 29px;
}
.immersed18 .mui-content {
  padding-top: 18px;
}
.immersed18 .mui-content.absolute {
  padding-top: 0;
}
.immersed18 .mui-bar-nav {
  padding-top: 18px;
  height: 62px;
}
.immersed18 .mui-bar-nav ~ .mui-content {
  padding-top: 62px;
}
.immersed18 .mui-bar-nav ~ .mui-content.absolute {
  top: 62px;
  padding-top: 0;
}
.immersed18 .shareBtn {
  top: 28px;
}
.immersed17 .mui-content {
  padding-top: 17px;
}
.immersed17 .mui-content.absolute {
  padding-top: 0;
}
.immersed17 .mui-bar-nav {
  padding-top: 17px;
  height: 61px;
}
.immersed17 .mui-bar-nav ~ .mui-content {
  padding-top: 61px;
}
.immersed17 .mui-bar-nav ~ .mui-content.absolute {
  top: 61px;
  padding-top: 0;
}
.immersed17 .shareBtn {
  top: 27px;
}
.immersed16 .mui-content {
  padding-top: 16px;
}
.immersed16 .mui-content.absolute {
  padding-top: 0;
}
.immersed16 .mui-bar-nav {
  padding-top: 16px;
  height: 60px;
}
.immersed16 .mui-bar-nav ~ .mui-content {
  padding-top: 60px;
}
.immersed16 .mui-bar-nav ~ .mui-content.absolute {
  top: 60px;
  padding-top: 0;
}
.immersed16 .shareBtn {
  top: 26px;
}
