.immersed25 #immersedWrapper {
  height: 25px;
}
.immersed25 .mui-content {
  top: 25px;
}
.immersed25 .mui-bar-nav {
  top: 25px;
}
.immersed25 .mui-bar-nav ~ .mui-content {
  top: 69px;
}
.immersed25 .shareBtn {
  top: 35px;
}
.immersed24 #immersedWrapper {
  height: 24px;
}
.immersed24 .mui-content {
  top: 24px;
}
.immersed24 .mui-bar-nav {
  top: 24px;
}
.immersed24 .mui-bar-nav ~ .mui-content {
  top: 68px;
}
.immersed24 .shareBtn {
  top: 34px;
}
.immersed23 #immersedWrapper {
  height: 23px;
}
.immersed23 .mui-content {
  top: 23px;
}
.immersed23 .mui-bar-nav {
  top: 23px;
}
.immersed23 .mui-bar-nav ~ .mui-content {
  top: 67px;
}
.immersed23 .shareBtn {
  top: 33px;
}
.immersed22 #immersedWrapper {
  height: 22px;
}
.immersed22 .mui-content {
  top: 22px;
}
.immersed22 .mui-bar-nav {
  top: 22px;
}
.immersed22 .mui-bar-nav ~ .mui-content {
  top: 66px;
}
.immersed22 .shareBtn {
  top: 32px;
}
.immersed21 #immersedWrapper {
  height: 21px;
}
.immersed21 .mui-content {
  top: 21px;
}
.immersed21 .mui-bar-nav {
  top: 21px;
}
.immersed21 .mui-bar-nav ~ .mui-content {
  top: 65px;
}
.immersed21 .shareBtn {
  top: 31px;
}
.immersed20 #immersedWrapper {
  height: 20px;
}
.immersed20 .mui-content {
  top: 20px;
}
.immersed20 .mui-bar-nav {
  top: 20px;
}
.immersed20 .mui-bar-nav ~ .mui-content {
  top: 64px;
}
.immersed20 .shareBtn {
  top: 30px;
}
.immersed19 #immersedWrapper {
  height: 19px;
}
.immersed19 .mui-content {
  top: 19px;
}
.immersed19 .mui-bar-nav {
  top: 19px;
}
.immersed19 .mui-bar-nav ~ .mui-content {
  top: 63px;
}
.immersed19 .shareBtn {
  top: 29px;
}
.immersed18 #immersedWrapper {
  height: 18px;
}
.immersed18 .mui-content {
  top: 18px;
}
.immersed18 .mui-bar-nav {
  top: 18px;
}
.immersed18 .mui-bar-nav ~ .mui-content {
  top: 62px;
}
.immersed18 .shareBtn {
  top: 28px;
}
.immersed17 #immersedWrapper {
  height: 17px;
}
.immersed17 .mui-content {
  top: 17px;
}
.immersed17 .mui-bar-nav {
  top: 17px;
}
.immersed17 .mui-bar-nav ~ .mui-content {
  top: 61px;
}
.immersed17 .shareBtn {
  top: 27px;
}
.immersed16 #immersedWrapper {
  height: 16px;
}
.immersed16 .mui-content {
  top: 16px;
}
.immersed16 .mui-bar-nav {
  top: 16px;
}
.immersed16 .mui-bar-nav ~ .mui-content {
  top: 60px;
}
.immersed16 .shareBtn {
  top: 26px;
}
